@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);
body {
  color: #1d1d1d;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Nanum Barun Gothic", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.common-inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.badge {
  position: absolute;
  right: 10px;
  top: 140px;
}
.badge img {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sub-nav-area {
  background-color: #2F1C11;
}
.sub-nav-area .sub-nav-list {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}
.sub-nav-area .sub-nav-list li {
  display: flex;
  position: relative;
}
.sub-nav-area .sub-nav-list li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sub-nav-area .sub-nav-list li:nth-child(4)::after, .sub-nav-area .sub-nav-list li:last-child::after {
  display: none;
}
.sub-nav-area .sub-nav-list a {
  display: flex;
  align-items: center;
  padding: 0 18px;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}

.main-nav-area {
  background-color: #fff;
}
.main-nav-area .common-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-area .main-nav-list {
  display: flex;
}
.main-nav-area .main-nav-list .main-nav-item:hover .nav-title {
  color: #CF661A;
  background-color: #eee;
}
.main-nav-area .main-nav-list .main-nav-item:hover .nav-content {
  display: block;
}
.main-nav-area .main-nav-list .nav-title {
  display: flex;
  line-height: 95px;
  padding: 0px 20px;
}
.main-nav-area .main-nav-list .nav-content {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 15px 0;
  display: none;
}
.main-nav-area .main-nav-list .nav-content .common-inner {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-nav-area .main-nav-list .nav-content .nav-content-detail {
  width: 220px;
}
.main-nav-area .main-nav-list .nav-content .nav-content-detail .detail-title {
  padding: 3px 0 12px;
  font-size: 14px;
  color: #2F1C11;
  cursor: pointer;
}
.main-nav-area .main-nav-list .nav-content .nav-content-detail .detail-list li {
  padding: 5px 0;
  font-size: 12px;
  color: #4B2616;
  cursor: pointer;
}
.main-nav-area .main-nav-list .nav-content .nav-content-detail .detail-list li:hover {
  color: #CF661A;
}

.footer-area {
  background-color: #e2e2e2;
}
.footer-area .common-inner {
  padding: 40px 0 60px 0;
}
.footer-area .link-group {
  display: flex;
  justify-content: center;
}
.footer-area .link-group a {
  color: #2F1C11;
  font-size: 13px;
  font-weight: 700;
  display: block;
  padding: 15px;
  position: relative;
}
.footer-area .link-group a.orange {
  color: #CF661A;
}
.footer-area .link-group a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #ccc;
  border-radius: 50%;
}
.footer-area .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer-area .btn-group .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  font-size: 13px;
  color: #2F1C11;
}
.footer-area .btn-group .btn:hover {
  border-color: transparent;
  color: #fff;
}
.footer-area .btn-group .btn:hover {
  color: #fff;
  background-color: #2F1C11;
}
.footer-area .info-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.footer-area .info-group p {
  color: #4B2616;
  font-size: 13px;
}
.footer-area .copyright {
  color: #2F1C11;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

/* visual */
.visual-area {
  margin-top: 130px;
  background: url("../images/visua_bg.png") no-repeat center/cover;
}
.visual-area .common-inner {
  height: 700px;
}
.visual-area .title {
  position: absolute;
  top: 78px;
}
.visual-area .title .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  margin: 60px auto 0;
  color: #24A6E0;
}
.visual-area .title .btn:hover {
  border-color: transparent;
  color: #fff;
}
.visual-area .title .btn:hover {
  background-color: #24A6E0;
}
.visual-area .visual-img01 {
  width: 330px;
  position: absolute;
  top: 327px;
  left: 400px;
}
.visual-area .visual-img02 {
  width: 360px;
  position: absolute;
  right: 0;
  top: 118px;
}

/* notice */
.notice-promo-area {
  position: relative;
}
.notice-promo-area .bg-left {
  width: 50%;
  height: 100%;
  background-color: #F38200;
  position: absolute;
  top: 0;
  left: 0;
}
.notice-promo-area .bg-right {
  width: 50%;
  height: 100%;
  background-color: #F6F5EF;
  position: absolute;
  top: 0;
  right: 0;
}
.notice-promo-area .common-inner {
  height: 62px;
  display: flex;
}
.notice-promo-area .common-inner > div {
  display: flex;
  align-items: center;
}
.notice-promo-area .common-inner > div h3 {
  font-size: 17px;
  font-weight: 700;
}
.notice-promo-area .common-inner .notice-group {
  position: relative;
  width: 60%;
  gap: 20px;
  color: #fff;
  background-color: #F38200;
}
.notice-promo-area .common-inner .notice-group .swiper {
  flex-grow: 1;
  height: 62px;
}
.notice-promo-area .common-inner .notice-group .swiper .swiper-slide {
  line-height: 62px;
}
.notice-promo-area .common-inner .notice-group .ico-plus {
  position: absolute;
  right: 60px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 100%;
}
.notice-promo-area .common-inner .notice-group .ico-plus::before, .notice-promo-area .common-inner .notice-group .ico-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F38200;
}
.notice-promo-area .common-inner .notice-group .ico-plus::before {
  width: 13px;
  height: 2px;
}
.notice-promo-area .common-inner .notice-group .ico-plus::after {
  width: 2px;
  height: 13px;
}
.notice-promo-area .common-inner .promo-title {
  width: 40%;
  gap: 55px;
  justify-content: center;
  cursor: pointer;
  background-color: #F6F5EF;
}
.notice-promo-area .common-inner .promo-title .promo-toggle-btn {
  display: flex;
  align-items: center;
}

/* promo-swiper */
.promo-swiper-area {
  position: relative;
  background-color: #F6F5EF;
  transition: height 0.4s;
  height: 620px;
}
.promo-swiper-area.hidden {
  height: 0;
}
.promo-swiper-area .common-inner {
  height: 620px;
  overflow: hidden;
}
.promo-swiper-area .swiper {
  position: absolute;
  top: 35px;
  width: 1370px;
  left: 50%;
  transform: translateX(-50%);
}
.promo-swiper-area .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.7s;
}
.promo-swiper-area .swiper-slide img {
  width: 450px;
}
.promo-swiper-area .swiper-slide .btn {
  display: none;
}
.promo-swiper-area .swiper-slide-active {
  opacity: 1;
}
.promo-swiper-area .swiper-slide-active .btn {
  display: block;
}
.promo-swiper-area .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 30px;
}
.promo-swiper-area .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promo-page.png");
  width: 15px;
  height: 15px;
  outline: none;
}
.promo-swiper-area .swiper-pagination-bullet-active {
  background-image: url("../images/promo-page-active.png");
}
.promo-swiper-area .swiper-prev,
.promo-swiper-area .swiper-next {
  width: 55px;
  height: 55px;
  outline: none;
  border: 2px solid #1d1d1d;
  border-radius: 100%;
  position: absolute;
  top: 310px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.promo-swiper-area .swiper-prev .material-icons,
.promo-swiper-area .swiper-next .material-icons {
  text-align: center;
}
.promo-swiper-area .swiper-prev {
  left: 50%;
  margin-left: -350px;
}
.promo-swiper-area .swiper-next {
  right: 50%;
  margin-right: -350px;
}
.promo-swiper-area .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  color: #F38200;
  margin: 15px auto 0;
}
.promo-swiper-area .btn:hover {
  border-color: transparent;
  color: #fff;
}
.promo-swiper-area .btn:hover {
  background-color: #F38200;
}

/* members */
.members-area {
  background-color: #7C51A1;
  padding: 25px 0;
  color: #fff;
}
.members-area .common-inner {
  display: flex;
  align-items: center;
  gap: 50px;
}
.members-area .members-cont {
  flex: 1;
}
.members-area .members-cont > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.members-area .members-cont .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  width: auto;
  padding: 0 18px;
}
.members-area .members-cont .btn:hover {
  border-color: transparent;
  color: #fff;
}
.members-area .members-cont .btn:hover {
  background-color: #A08BCC;
}
.members-area .members-cont .info-group {
  margin-bottom: 25px;
}
.members-area .members-cont .info-group .info-txt h3 {
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 12px;
}
.members-area .members-cont .info-group .info-txt p {
  font-size: 17px;
}
.members-area .members-cont .info-group .signin {
  background-color: #A08BCC;
  border-color: #A08BCC;
}
.members-area .members-cont .info-group .signin:hover {
  background-color: #7C51A1;
  border-color: #fff;
}
.members-area .members-cont .egift-group .egift-txt {
  font-size: 15px;
}
.members-area .members-cont .egift-group .btn {
  width: 181px;
}

/* new-prd (capsuel, pouch) */
.new-prd {
  height: 450px;
  display: flex;
}
.new-prd .common-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.new-prd .common-inner > img {
  width: 430px;
}
.new-prd .new-cont .new-badge {
  text-transform: uppercase;
  background-color: #785FA0;
  width: 155px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.new-prd .new-cont .new-title {
  color: #432E66;
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0 35px;
  letter-spacing: -2px;
}
.new-prd .new-cont .new-desc {
  font-size: 22px;
  color: #4F3F32;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.7px;
}
.new-prd .new-cont .btn {
  margin-top: 39px;
}

/* capsule */
.capsule-area {
  background: url(../images/capsule-bg.png) no-repeat center/cover;
}
.capsule-area .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
}
.capsule-area .btn:hover {
  border-color: transparent;
  color: #fff;
}
.capsule-area .btn:hover {
  background-color: #785FA0;
}

/* pouch */
.pouch-area {
  background-color: #F6DBD2;
}
.pouch-area .new-cont .new-badge {
  background-color: #F1956C;
}
.pouch-area .new-cont .new-title {
  color: #9E4027;
}
.pouch-area .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
}
.pouch-area .btn:hover {
  border-color: transparent;
  color: #fff;
}
.pouch-area .btn:hover {
  background-color: #9E4027;
}

/* pick */
.pick-area {
  background: url("../images/pick-bg-pc.png") center center fixed no-repeat;
  background-position: bottom;
  height: 780px;
  background-size: auto 85%;
  display: flex;
  align-items: center;
}
.pick-area .common-inner {
  position: relative;
  display: flex;
  gap: 20px;
}
.pick-area .common-inner .pick-txt-group {
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-area .common-inner .pick-txt-group .pick-desc {
  margin: 40px 0;
}
.pick-area .common-inner .pick-txt-group .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  margin-bottom: auto;
  color: #fff;
}
.pick-area .common-inner .pick-txt-group .btn:hover {
  border-color: transparent;
  color: #fff;
}
.pick-area .common-inner .pick-txt-group .btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}
.pick-area .common-inner .pick-img {
  width: 840px;
}

/* catering */
.catering-area {
  background: url("../images/catering-bg-pc.png") center center no-repeat;
  background-size: cover;
  height: 871px;
  display: flex;
  align-items: center;
}
.catering-area .common-inner {
  display: flex;
  justify-content: flex-end;
}
.catering-area .common-inner .catering-badge {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
.catering-area .common-inner .catering-badge:hover .front {
  transform: rotateY(180deg);
}
.catering-area .common-inner .catering-badge:hover .front::before {
  display: none;
}
.catering-area .common-inner .catering-badge:hover .back {
  transform: rotateY(0deg);
}
.catering-area .common-inner .catering-badge .front,
.catering-area .common-inner .catering-badge .back {
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.catering-area .common-inner .catering-badge .front {
  transform: rotateY(0deg);
}
.catering-area .common-inner .catering-badge .front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #fff;
  animation: spread 2s infinite linear;
}
@keyframes spread {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.catering-area .common-inner .catering-badge .back {
  transform: rotateY(-180deg);
}
.catering-area .common-inner .catering-badge .back .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}
.catering-area .common-inner .catering-badge .back .btn:hover {
  border-color: transparent;
  color: #fff;
}
.catering-area .common-inner .catering-badge .back .btn:hover {
  background-color: #1d1d1d;
}

/* store */
.store-area {
  background-color: #F38200;
}
.store-area .common-inner {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.store-area .common-inner .store-img-group > img {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.store-area .common-inner .store-img-group .store-img1 {
  top: -60px;
  left: 0;
}
.store-area .common-inner .store-img-group .store-img2 {
  top: 150px;
  left: 250px;
}
.store-area .common-inner .store-txt-group h3 {
  font-size: 25px;
}
.store-area .common-inner .store-txt-group p {
  font-size: 18px;
  margin: 20px 0 40px;
}
.store-area .common-inner .store-txt-group .btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
}
.store-area .common-inner .store-txt-group .btn:hover {
  border-color: transparent;
  color: #fff;
}
.store-area .common-inner .store-txt-group .btn:hover {
  background-color: white;
  color: #1d1d1d;
}
.store-area .store-texture {
  position: absolute;
  bottom: 0;
  right: 0;
}