// reset
body {
  color: $black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: $font-default;
  font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
  }
}

html.fixed {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

// mixin
@mixin btn {
  width: 130px;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: .4s;

  &:hover {
    border-color: transparent;
    color: $white;
  }
}

// common
.common-inner {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.m-hidden {
  display: none;
}

// badge 
.popup-badge {
  position: fixed;
  right: 10px;
  top: calc($header-height + 10px);
  z-index: 9;

  img {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0,0,0,.3);
  cursor: pointer;
  }
}

// go-to-top
#to-top {
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,.5);
  color: $white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

.back-to-position {
  opacity: 0;
  transition: 1s;

  &.to-right {
    transform: translateX(-150px);
  }

  &.to-left {
    transform: translateX(150px);
  }

  .show & {
    opacity: 1;
    transform: translateX(0);

    &.delay-0 {
      transition-delay: 0s;
    }

    &.delay-1 {
      transition-delay: 0.3s;
    }
  }
}