/* visual */
.visual-area {
  margin-top: $header-height;
  background: url("../images/visua_bg.png") no-repeat center / cover;

  .common-inner {
    height: 700px;
  }

  .title {
    position: absolute;
    top: 78px;

    .btn {
      @include btn;
      margin: 60px auto 0;
      color: #24A6E0;

      &:hover {
        background-color: #24A6E0;
      }
    }
  }

  .visual-img01 {
    width: 330px;
    position: absolute;
    top: 327px;
    left: 400px;
  }

  .visual-img02 {
    width: 360px;
    position: absolute;
    right: 0;
    top: 118px;
  }

  .fade-in {
    opacity: 0;
  }
  
}

/* notice */
.notice-promo-area {
  position: relative;

  .bg-left {
    width: 50%;
    height: 100%;
    background-color: $orange-ico;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bg-right {
    width: 50%;
    height: 100%;
    background-color: $promo-bg;
    position: absolute;
    top: 0;
    right: 0;
  }

  .common-inner {
    height: $notice-height;
    display: flex;

    >div {
      display: flex;
      align-items: center;

      h3 {
        font-size: 17px;
        font-weight: 700;
      }
    }

    .notice-group {
      position: relative;
      width: 60%;
      gap: 20px;
      color: $white;
      background-color: $orange-ico;
      overflow: hidden;
      .swiper {
        flex-grow: 1;
        height: $notice-height;

        .swiper-slide {
          height: $notice-height;
          display: flex;
          align-items: center;
        }
      }

      .ico-plus {
        position: absolute;
        right: 60px;
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 100%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $orange-ico;
        }

        &::before {
          width: 13px;
          height: 2px;
        }

        &::after {
          width: 2px;
          height: 13px;
        }
      }
    }

    .promo-title {
      width: 40%;
      gap: 55px;
      justify-content: center;
      cursor: pointer;
      background-color: $promo-bg;

      .promo-toggle-btn {
        display: flex;
        align-items: center;

        &.hidden {
          transform: rotate(180deg);
        }
      }
    }
  }
}

/* promo-swiper */
.promo-swiper-area {
  position: relative;
  background-color: $promo-bg;

  .common-inner {
    height: $prom-height;
    overflow: hidden;
    transition: height .4s;

    &.hidden {
      height: 0;

      .swiper-pagination {
        opacity: 0;
      }
    }
  }

  .swiper {
    position: absolute;
    top: 35px;
    width: calc(450px * 3 + 20px);

    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-slide {
    opacity: .4;
    transition: opacity .7s;

    img {
      width: 450px;
    }

    .btn {
      display: none;
    }
  }

  .swiper-slide-active {
    opacity: 1;

    .btn {
      display: block;
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url('../images/promo-page.png');
    width: 15px;
    height: 15px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background-image: url('../images/promo-page-active.png');
  }

  .swiper-prev,
  .swiper-next {
    width: 55px;
    height: 55px;
    outline: none;
    border: 2px solid $black;
    border-radius: 100%;
    position: absolute;
    top: 310px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .material-icons {
      text-align: center;
    }
  }

  .swiper-prev {
    left: 50%;
    margin-left: -350px;
  }

  .swiper-next {
    right: 50%;
    margin-right: -350px;
  }

  .btn {
    @include btn;
    color: $orange-ico;
    margin: 15px auto 0;

    &:hover {
      background-color: $orange-ico;
    }
  }
}

/* members */
.members-area {
  background-color: $purple;
  padding: 25px 0;
  color: $white;

  .common-inner {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .members-cont {
    flex: 1;

    >div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .btn {
      @include btn;
      display: inline-block;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      width: auto;
      padding: 0 18px;

      &:hover {
        background-color: #A08BCC;
      }
    }

    .info-group {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #9379A9;
      .info-txt {

        h3 {
          font-weight: normal;
          font-size: 26px;
          margin-bottom: 12px;
        }

        p {
          font-size: 17px;
        }
      }

      .signin {
        background-color: #A08BCC;
        border-color: #A08BCC;

        &:hover {
          background-color: $purple;
          border-color: $white;
        }
      }
    }

    .egift-group {
      .egift-txt {
        font-size: 15px;
      }

      .btn {
        width: 181px;
      }
    }
  }
}


/* new-prd (capsuel, pouch) */
.new-prd {
  height: 450px;
  display: flex;

  .common-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

    >img {
      width: 430px;
    }
  }

  .new-cont {
    .new-badge {
      text-transform: uppercase;
      background-color: #785FA0;
      width: 155px;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 700;
      color: $white;
      text-align: center;
    }

    .new-title {
      color: #432E66;
      font-size: 30px;
      font-weight: 600;
      margin: 15px 0 35px;
      letter-spacing: -2px;
    }

    .new-desc {
      font-size: 22px;
      color: #4F3F32;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: -.7px;
    }

    .btn {
      margin-top: 39px;
    }
  }
}

/* capsule */
.capsule-area {
  background: url(../images/capsule-bg.png) no-repeat center / cover;

  .btn {
    @include btn;
    &:hover {
      background-color: #785FA0;
    }
  }
}

/* pouch */
.pouch-area {
  background-color: #F6DBD2;

  .new-cont {
    .new-badge {
      background-color: #F1956C;
    }
    .new-title {
      color: #9E4027;
    }
  }

  .btn {
    @include btn;

    &:hover {
      background-color: #9E4027;
    }
  }

}

/* pick */
.pick-area {
  background: url('../images/pick-bg-pc.png') center center fixed no-repeat;
  background-position: bottom;
  height: 780px;
  background-size: auto 85%;
  display: flex;
  align-items: center;

  .common-inner {
    position: relative;
    display: flex;
    gap: 20px;
    .pick-txt-group {
      width: 362px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      
      .pick-desc {
        margin: 40px 0;
      }

      .btn {
        @include btn;
        margin-bottom: auto;
        color: $white;

        &:hover {
          color: $black;
          background-color: $white;
        }
      }
    }

    .pick-img {
      width: 840px;
    }
  }
}

/* catering */
.catering-area {
  background: url('../images/catering-bg-pc.png') center center no-repeat;
  background-size: cover;
  height: 871px;
  display: flex;
  align-items: center;
  
  
  .common-inner {
    display: flex;
    justify-content: flex-end;

    .catering-badge {
      width: 334px;
      height: 334px;
      perspective: 600px;

      &:hover {
        .front {
          transform: rotateY(180deg);
          &::before {
            display: none;
          }
        }
        .back {
          transform: rotateY(0deg);
        }
      }

      .front,
      .back {
        position: absolute;
        transition: 1s;
        backface-visibility: hidden;
      }

      .front {
        transform: rotateY(0deg);
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;  
          transform: translate(-50%,-50%);
          z-index: -1;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-color: $white;
          animation: spread 2s infinite linear;
        }
      }

      @keyframes spread {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1.2);
          opacity: 0;
        }
      }
  
      .back {
        transform: rotateY(-180deg);

        .btn  {
          @include btn;
          position: absolute;
          top: 240px;
          left: 50%;
          transform: translateX(-50%);

          &:hover {
            background-color: $black;
          }
          
        }
      }

    }
  }
}

/* store */
.store-area {
  background-color: $orange-ico;

  .common-inner {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .store-img-group {
      > img {
        position: absolute;
        border-radius: 50%;
        box-shadow: 2px 2px 8px rgba(0,0,0,.5);
      }
      .store-img1 {
        top: -60px;
        left: 0;
      }
      .store-img2 {
        top: 150px;
        left: 250px;
      }
    }

    .store-txt-group {
      h3 {
        font-size: 25px;
        letter-spacing: -2px;
      }
      p {
        font-size: 18px;
        letter-spacing: -2px;
        margin: 20px 0 40px;
      }
      .btn {
        @include btn; 

        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }


  .store-texture {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}