@media (max-width : 1000px) {
  .common-inner {
    max-width: 720px;

  }

  .pc-hidden {
    display: none;
  }

  .m-hidden {
    display: block;
  }
  header {
    transition: .3s;

    .sub-nav-area {
      display: none;
    }
    .main-nav-area {
      display: none;
    }
    .search-area {
      padding: 10px 20px 10px;
      border-bottom: 1px solid rgba($border,.5);
      top: $header-height-m;
      .search-group {
        max-width: 590px;
        .dimmed-layer {
          display: none;
        }
        .search-ico {
          img {
            filter: invert(53%) sepia(57%) saturate(5766%) hue-rotate(5deg) brightness(94%) contrast(80%);
          }
        }
        .textfield {
          border-radius: 10px;
          background-color: $bg01;
          width: 100%;
          transition: .2s;
          .search-ico {
            img {
              filter: invert(53%) sepia(57%) saturate(5766%) hue-rotate(5deg) brightness(94%) contrast(80%);
            }
            opacity: 1;
          }

          input[type=text] {
            color: $black;
          }
        }
        .close-ico {
          display: none;
        }

        .search-cancle{
          height: 35px;
          display: flex;
          align-items: center;
          padding: 0 8px;
          color: $orange-txt;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0px;
          transition: .4s;
          visibility: hidden;
          opacity: 0;

        }

        input,
        .search-ico,
        .autocompletes h3,
        .autocompletes li {
          transform: translate(0, 0);
        }

        .autocompletes {
          top: 130px;
          padding: 26px 0 20px;
          background-color: transparent;
          transition: .3s;
          transform: translate(0, -100px);
          visibility: hidden;
          opacity: 0;
          li {
            border-bottom: 1px solid $border;
            &:last-child {
              border-bottom: none;
            }
          }

          a {
            padding: 16px 0 16px 16px;
          }
        }
      }
    }
    .m-nav-area {
      display: flex;
    }

    &.menuing {
      background-color: $white;
      height: 100vh;
      .clone-menu {
        visibility: visible;
        opacity: 1;
      }
  
      .search-area {
        visibility: visible;
        opacity: 1;
      }

      &.m-searching {
        .search-area {
    
          .search-group {
            .textfield {
              width: calc(100% - 55px);
            }
            .search-cancle {
              visibility: visible;
              opacity: 1;
              right: 0px;
            }
            .autocompletes {
              visibility: visible;
              opacity: 1;
            }
          }
        }
        .clone-menu {
          transform: translate(0 ,100px);
          visibility: hidden;
          opacity: 0;
        }
    
    
      }
    }

  }


  /* visual */
  .visual-area {
    margin-top: $header-height-m;
    background: none;

    .m-visual {
      img {
        width: 100%;
        display: block;
      }
    }
  }

  /* notice */
  .notice-promo-area {

    .bg-left {
      width: 100%;
      height: $notice-height;
    }

    .bg-right {
      width: 100%;
      height: $notice-height;
      top: $notice-height;
    }

    .common-inner {
      flex-direction: column;
      height: $notice-height-m;

      .notice-group {
        width: 100%;
      }

      .promo-title {
        width: 100%;
        align-items: center;
        height: $notice-height;
      }
    }


  }

  /* promo-swiper */
  .promo-swiper-area {
    .swiper-prev {
      margin-left: -300px;
    }

    .swiper-next {
      margin-right: -300px;
    }

  }

  /* members */
  .members-area {
    .members-cont {
      >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        word-break: keep-all;
      }

    }
  }

  /* new-prd */
  .new-prd {
    height: 750px;
    gap: 0;

    .common-inner {
      flex-direction: column;
    }

    &.capsule-area {
      .common-inner {
        flex-direction: column-reverse;
      }
    }
  }

  /* pick */
  .pick-area {
    background: url('../images/pick-bg-m.png') center -6px no-repeat;
    background-size: 100% auto;
    height: 1500px;
    width: 100%;
    position: relative;

    .common-inner {
      flex-direction: column-reverse;
      height: inherit;
      justify-content: space-between;
      align-items: center;

      .pick-txt-group {
        width: 362px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 70px;
        .pick-desc {
          display: none;
        }
      }

      .pick-img {
        width: 700px;
        margin-top: 240px;
      }
    }
  }

  /* catering */
  .catering-area {
    background: url('../images/catering-bg-m.png') center center fixed no-repeat;
    background-position: center;
    height: 650px;
      border: 3px solid red;
    .common-inner {
      .catering-badge {
        .front {
          display: none;
        }

        .back {
          transform: rotateY(0deg);
        }
      }
    }
  }

  /* store */
  .store-area {

    .common-inner {

      display: flex;
      justify-content: space-around;
      align-items: center;

      flex-direction: column;
  
      .store-img-group {
        width: 300px;
        height: 250px;

        > img {
          position: absolute;
          border-radius: 50%;
          box-shadow: 2px 2px 8px rgba(0,0,0,.5);
        }
        .store-img1 {
          width: 270px;
          left: 50%;
          transform: translateX(-50%);
        }
        .store-img2 {
          width: 180px;
          top: 50px;
          left: 50%;
        }
      }
  
      .store-txt-group {
        text-align: center;
        z-index: 1;
        p {
          margin: 10px 0 25px;
        }
        .btn {
          margin: 10px auto;
        }
      }
    }
  }

  /* footer */
  .footer-area {
    .link-group {
      flex-wrap: wrap;

      a {
        flex-shrink: 0;
      }
    }

    .info-group {
      flex-direction: column;
      align-items: center;
      gap: 3px;
    }
  }


  /* ****************************** */

}

@media (max-width : 740px) {
  .notice-promo-area {
    .notice-group {
      h3 {
        margin-left: 20px;
        flex-shrink: 0;
      }
      .ico-plus {
        display: none;
      }
    }
  }

  .promo-swiper-area {
    .common-inner {
      height: 530px;
    }
    .swiper {
      top: 0;
      width: 100%;

      .swiper-slide {
        img {
          width: 100%;
        }
      }
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 5px;
      }

      .swiper-prev,
      .swiper-next {
        display: none;
      }
    }
  }
  
  .members-area {
    .common-inner {
      flex-direction: column;
    }
    .members-cont {
      >div {
        margin: 0 10px;
        align-items: center;
        text-align: center;
      }
    }
  }

  .new-prd {
    .common-inner {
      justify-content: center;
      >img {
        width: 290px;
      }
    }

    .new-cont {
      padding: 0 10px;

      .new-title{
        word-break: keep-all;
      }

      .new-desc {
        word-break : keep-all;
        .pc-br {
          display: none;
        }
      }

      .btn {
        margin: 25px auto;
      }
    }
  }

  .pick-area {
    height: auto;
    
    .common-inner {
      width: 100%;

      .pick-txt-group {
        width: 100%;
        margin-top: 170px;
        margin-bottom: 30px;
        > img {
          width: 240px;
        }
      }
      
      .pick-img {
        width: 100%;
        margin-top: 100px;
      }
    }
  }

  .footer-area {

    .link-group {
      a {
        padding: 7px;
      }
    }

    .btn-group {
      gap: 10px;
      padding: 0 10px;
      flex-shrink: 0;
      .btn {
        flex-shrink: 0;
        width: 100px;
        font-size: 10px;
      }
    }
  }
}