.footer-area {
  background-color: $bg02;
  .common-inner {
    padding: 40px 0 60px 0; 
  }

  .link-group {
    display: flex;
    justify-content: center;
    a {
      color: $brown-title;
      font-size: 13px;
      font-weight: 700;
      display: block;
      padding: 15px;
      position: relative;

      &.orange {
        color: $orange-txt;
      }

      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 3px;
          height: 3px;
          background-color: $border;
          border-radius: 50%;
        }
      }


    }
  }

  .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
    .btn {
      @include btn;
      font-size: 13px;
      color: $brown-title;
      &:hover {
        color: $white;
        background-color: $brown-title;
      }
    }
  }
}